{{ define "main" }}
  <div class="post animated fadeInDown">
    <div class="post__content">
      {{ .Content }}
    </div>
  </div>

  <!-- Data Center Articles -->
  <div class="post animated fadeInDown">
    <div class="post__content">
      {{ with (index (where .Site.Menus.main "URL" "/posts/data_center/") 0) }}
        <h2>{{ .Name }}</h2>
      {{ end }}
      {{ range (where .Site.RegularPages "Section" "posts/data_center") }}
        <div class="post-entry">
          <h3><a href="{{ .RelPermalink }}">{{ with .Title }}{{ . }}{{ else }}{{ with .Page.File }}{{ with .Params.h1 }}{{ . }}{{ end }}{{ end }}{{ end }}</a></h3>
          <div class="post-meta">
            <span class="post__footer-date">
              {{ with .Date }}{{ .Format "2006-01-02" }}{{ else }}{{ .File.ModTime.Format "2006-01-02" }}{{ end }}
            </span>
            {{ with .Params.tags }}
              {{ partial "taxonomy/tags.html" . }}
            {{ end }}
          </div>
          <p>{{ .Summary }}</p>
        </div>
      {{ end }}
    </div>
  </div>

  <!-- Tech News Articles -->
  <div class="post animated fadeInDown">
    <div class="post__content">
      {{ with (index (where .Site.Menus.main "URL" "/posts/tech_news/") 0) }}
        <h2>{{ .Name }}</h2>
      {{ end }}
      {{ range (where .Site.RegularPages "Section" "posts/tech_news") }}
        <div class="post-entry">
          <h3><a href="{{ .RelPermalink }}">{{ with .Title }}{{ . }}{{ else }}{{ with .Page.File }}{{ with .Params.h1 }}{{ . }}{{ end }}{{ end }}{{ end }}</a></h3>
          <div class="post-meta">
            <span class="post__footer-date">
              {{ with .Date }}{{ .Format "2006-01-02" }}{{ else }}{{ .File.ModTime.Format "2006-01-02" }}{{ end }}
            </span>
            {{ with .Params.tags }}
              {{ partial "taxonomy/tags.html" . }}
            {{ end }}
          </div>
          <p>{{ .Summary }}</p>
        </div>
      {{ end }}
    </div>
  </div>

  <!-- 所有文章 -->
  <div class="post animated fadeInDown">
    <div class="post__content">
      <h2>所有文章</h2>
      {{ range .Site.RegularPages.ByDate.Reverse }}
        <div class="post-entry">
          <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
          <div class="post-meta">
            <span class="post__footer-date">
              {{ .Date.Format "2006-01-02" }}
            </span>
            {{ with .Params.tags }}
              {{ partial "taxonomy/tags.html" . }}
            {{ end }}
          </div>
          <p>{{ .Summary }}</p>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}